{% extends 'base.html' %}  
{% load static %} 
{% block content %}

<div class="page-header">
  <div class="header-with-image">
  <h1>Delete Book?</h1>
  <img src="{% static 'images/delete.png' %}" alt="delete image" class="delete-img"/>
  </div>
</div> 

<h2>Are you sure you want to delete {{ book.bookTitle }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'book-detail' book.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}
