{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/books/book-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Book List</h1>
  <img
    src="{% static 'images/book list2.png' %}"   
    alt="book list2"                         
  />
  <img
    src="{% static 'images/book list1.png' %}" 
    alt="book list1"                         
  />
  <img
    src="{% static 'images/book list.png' %}" 
    alt="book list"                    
  />
  <img
    src="{% static 'images/book list3.png' %}" 
    alt="book list3"                       
  />
</section>

<section class="card-container">
  {% for book in books %}
  <div class="card">
    <a href="{% url 'book-detail' book.id %}">
    <div class="card-content">
      <div class="card-img-container">
        <img
          src="{% static 'images/554.png' %}"    
          alt="mybook"                            
        />
      </div>
      <h2 class="card-title">{{ book.bookTitle }}</h2>
      {% if book.releaseDate > 2010 %}
      <p>{{ book.description }}</p>
      <p><small> The {{ book.bookTitle }} is NEW Book. </p></small> 
      {% else %}
      <p><small>The {{ book.bookTitle }} is OLD Book.</p></small>
      {% endif %}
    </div>
  </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
